body{
  box-sizing: border-box;
  margin-top:0;
  padding:0;
  background-color: #fefbe9;
  font-family: 'Merienda', cursive;
}

.landing{
  background-image: url("Images/Page.jpg");
    background-repeat: no-repeat;
    height: 90vh ;
    background-size: cover;
    background-position: center;
    margin:0;
    filter:blur(20%);
}

.left{
    display:inline-block;
     position:absolute;
    left:38px;
    top:20px;
    }

    .left img{width: 60px;
        position:relative;
        left:20%;
        filter: invert(50%);
        
    }
    

    .navigation{
    display:block;
    
    top:80px;
    text-align: center;
    width:100%;
    background-color:transparent;
    overflow: hidden;
    
    margin:0;
    z-index: 1;
    

      }
    .right{
      display:inline-block;
       position:absolute;
       right:38px;
       top:20px;}

       .navbar,.navbar li{
           display:inline-block;
           list-style-type: none;
           text-align: center;
          
       }

       .navbar li a{color:#f6c453;
        font-weight:bolder;
    text-decoration: none;
padding:10px;
font-size: 20px;
border-radius: 5px;}

.navbar li a:hover{
    color:#f6c453;
    background-color: rgb(230, 238, 238);
    padding:15px;
    font-size: 25px;
}

.navbar li a:active{
  color:#e1eedd;
  text-decoration: underline;
}

.professionalhandle li{list-style-type: none;
display:inline;
padding:15px;}

.professionalhandle li a img{filter:invert(50%);}

.professionalhandle li a img:hover,.professionalhandle li a img:active{
    width:40px;
    height:40px;
    filter:invert(100%);
    

}

.intro {position:absolute;
  
width:40%;
color:white;
right:280px;
top:180px;
font-size: 25px;

font-family:'Kaushan Script', cursive;}

.intro h1{font-size: 50px;
font-size: 60px;}

.about,.contact,.project,.skills{text-align: center;}
main{margin:50px;
margin-top: 100px;}
.aboutcontainer{display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
justify-content: center;
justify-items: center;
margin-top: 50px;;}

table td,table tr, table th{padding:10px;
margin:3px;
text-align: center;
border-bottom: 2px solid rgb(47, 104, 10);
border-collapse: collapse;}


.aboutcontainer .item img{border-radius: 50%;
border: 10px ridge rgb(47, 104, 10);
background-color: #e1eedd;}
.aboutcontainer .item h1{color:#f6c453;}

.skills h1{color:#f6c453;}

.project h1{color:#f6c453;}

.contact h1{color:#f6c453;}


.skillscontainer{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
}


.flipbox {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(47, 104, 10);
    perspective: 1000px;
    border-radius: 15px;
    padding:5px;
    margin-bottom: 5px;
  }
  
  .innerflipbox {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  .flipbox:hover .innerflipbox {
    transform: rotateX(180deg);

  }
  
   .backflipbox ,.frontflipbox{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
  }
  .backflipbox .progress{margin:15px;
    border:2px solid black;
    border-radius: 15px;}

    .backflipbox .progress div{padding:10px;
    border-radius: 15px;}
  .frontflipbox {
    background-color: #e1eedd;
    color: black;
    
    
  }
  
  .backflipbox {
    background-color: #f6c453;
    color: rgb(255, 255, 255);
    transform: rotateX(180deg);
  }
  .frontflipbox h1{color:rgb(47, 104, 10)}

  .projectcontainer{display:grid;
  grid-template-columns: 1fr 1fr 1fr;
gap:5px;
justify-items: center;
align-items: center;
margin:0;}

.projectcontainer .item{border-radius: 15px;border:2px solid rgb(47, 104, 10);
  width:425px;
  height:400px;
padding:5px;}

.projectcontainer .item iframe{ border-radius: 15px;
  width:350px;
height:300px;
border:2px solid rgb(47, 104, 10);
}

.projectcontainer .item h2{color:rgb(47, 104, 10);}

.contact{background-image: url("Images/paper-cut-two-business-man-shake-hand.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;}
.contactcontainer form{display:inline-block;
border: 2px solid black;
border-radius: 25px;
padding:30px;
}

.contactcontainer form input,.contactcontainer form textarea{
    text-align: center;
    resize: none;
    margin:5px;
    padding:2px;
    border-radius: 10px;
    background-color: transparent;
    background-color: #e1eedd;
}

.reach ,.reach a{margin:4px;
padding:3px;
text-decoration: none;
color:white;}

.reach a img{padding:10px;
margin:8px;
filter:invert(100%);}

.reach a img:hover,.reach a img:active{
  width:40px;
    height:40px;
    filter:invert(100%);
    background-color: rgb(47, 104, 10);
}

footer{text-align: center;
background-color: black;
color: white;}
